body{
    font-size:0.8rem;
}

.week{
    background-color: grey;
}

.clx{
    background-color: darkgrey;
}

.pick-clx{
    background-color: #9df3ec;
}

.req-clx{
    background-color: #a6efa4;
}

#must{
    color: palevioletred;
}